@charset "UTF-8";
/* @import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); */

@font-face{
    font-family: 'NotoSans';
    src: local('NotoSans'),
        url("../font/NotoSansCJKkr-Bold.otf") format('opentype');
    font-weight: 900;
    font-style:normal;
}
@font-face{
    font-family: 'NotoSans';
    src: local('NotoSans'),
        url("../font/NotoSansCJKkr-Regular.otf") format('opentype');
    font-weight: 400;
    font-style:normal;
}
@font-face{
    font-family: 'NotoSans';
    src: local('NotoSans'),
        url("../font/NotoSansCJKkr-Light.otf") format('opentype');
    font-weight: 100;
    font-style:normal;
}