*{
    box-sizing: border-box;
}

html { font-size: 62.5%; }
body { font-size: 1em; font-weight:100; }

@media (max-width: 300px) {
    html { font-size: 70%; }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
}

@media (min-width: 700px) {
    html { font-size: 120%; }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
}

.wrap{
    width:100%;
    height:auto;
    position: relative;
    z-index: 10;
}
.inner{
    width:100%;
    margin:0 auto;
    position: relative;
    z-index: 10;
}
header{
    background:#cf2a37;
}
header .inner{
    padding:4% 6%;
    background:#cf2a37;
    font-size:1.5em;
}

header .fixed_logo {
	display:none;
}

.fixed { 
	position:fixed;
	top:0;
	z-index:999;
}

header.fixed {
	background:rgba(255,255,255,0.8);
	width:100%;
}

header.fixed .inner {
	background:rgba(255,255,255,0.8);
	width:100%;
}

header.fixed .header-nav {
	color:#000;
}

header.fixed .fixed_logo {
	display:block;
}

header.fixed .normal_logo {
	display:none;
}

.logo{
    display:inline-block;
	width:28%;
}

.logo img {
	vertical-align:top;
	width:100%;
}

.header-nav{
    float: right;
    color:#fff;
}
/*================
    common
==================*/
.text-box{
    color:#000;
    font-size:3.0em;
    line-height:1.5em;
    font-weight: lighter;

}
.text-box strong{
    display: block;
    font-weight: normal;
}
/*================
    container
==================*/
section{
    min-width: 100%;
}

section img {
	width:100%;
}

.section01{
    background:#cf2a37;
}

.section01 .inner{

}

.section01 .inner .text-box{
    color:#fff;
	padding:7% 6%;
}
.section01 .inner .button-box{
   padding: 5% 7% 15% 7%;
}

.section01 .inner .button-box .btn-appdown,
#appdown-wrap.fixed .btn-appdown
{
    width:100%;
	display: block;
	background-color:#fff;
	color:#000;
	font-size:2.0em;
	text-align:center;
	padding: 6% 0;
	border-radius: 5px;
	font-weight: 400;
}

#appdown-wrap.fixed {
	display:block !important;
	width:100%;
}
#appdown-wrap.fixed a {
	border-radius : 0 !important;
	background: #cd2835 !important;
	color: #fff !important;
}


.section02{
    position:relative;
}
.section02 .inner{

}

.section02 .section02_icon {
	position:absolute;
	width:13%;
	top:10%;
	left:6%;
	
}

.section02 .text-box {
	position:absolute;
	top:20%;
	left:6%;
	color:#fff;
	font-size:2.5em;
	line-height:1.4em;
}

.section02 .text1 {
	position:absolute;
	top:50%;
	left:6%;
	color:#fff;
	font-size:1.5em;
	line-height:1.4em;
}

.section02 .text1 strong {
	font-size:2.6em;
	line-height:1.3em;
	font-weight: lighter;
}

.section02 .people1 .people_img {
	position:absolute;
	width: 17%;
    bottom: 13%;
    left: 9%;
}

.section02 .people1 .people_percent {
	position: absolute;
    bottom: 21%;
    left: 6%;
    font-size: 2.0em;
    color: #fff;
}

.section02 .people1 .people_nick {
	position: absolute;
   bottom: 17.5%;
    left: 28%;
    font-size: 1.6em;
    color: #fff;
}

.section02 .people2 .people_img {
	position:absolute;
	width: 17%;
    bottom: 13%;
    left: 56%;
}

.section02 .people2 .people_percent {
	position: absolute;
    bottom: 21%;
    left: 52%;
    font-size: 2.0em;
    color: #fff;
}

.section02 .people2 .people_nick {
	position: absolute;
   bottom: 17.5%;
    left: 75%;
    font-size: 1.6em;
    color: #fff;
}

.section03 {
    background:#f2f2f2;
}

.section03 .text-box {
	position: absolute;
	top:13%;
	font-size:2.6em;
	line-height: 1.3em;
	width:100%;
}

.section03 .section03_icons {
	position:absolute;
	top:76%;
	width:90%;
	left: 50%;
    transform: translate(-50%, 0);
}


.section04 {
	background-color:#fafafa;
	padding: 15% 6%;
}

.section04 .text-box{
	font-size:2.6em;
	line-height: 1.3em;
	
}

.section04 .section04_video {
	position: relative;
	padding: 25% 0 10% 0;
}

.section04 .section04_video .video_thumb {
	width: 40%;
	float:left;
}

.section04 .section04_video .video_text {
	width: 60%;
	float:left;
}

.section04 .section04_video .video_text {
	padding: 2% 3%;
}

.section04 .section04_video .video_text .nick {
	font-size:1.18em;
}

.section04 .section04_video .video_text .title {
	  font-size: 1.6em;
    font-weight: 400;
    padding: 3% 0 5% 0;
}

.section04 .section04_video .video_text .desc {
	font-size:1.4em;
}

.section04 .section04_slide .slide_title {
	font-size: 1.45em;
    font-weight: 400;
	padding-bottom:4%;
}

.section04 .section04_slide .slide_wrap {
	width:100%;
	position: relative;
	height: 0;
	overflow-x:scroll;
	overflow-y:hidden;
	padding-bottom: 44%;
}

.section04 .section04_slide .slide_container {
	position: absolute;
	width: 200%;
	top: 0;
	left: 0;
	height: 100%;
}

.section04 .section04_slide .slide_wrap .slide {
	float:left;
	width: 22%;
	margin-right:2%;
}

.section04 .section04_slide .slide_wrap .slide:last-child {
	margin-right:0;
}

.section05 .text-box {
	position:absolute;
	top:9%;
	left:6%;
	font-size:2.5em;
	line-height:1.4em;
}


/*==============
    footer
===============*/
footer{
    background:#222;
}
footer .inner{
    padding:13% 6%;
    color:#fff;
    font-size:1.5em;
}

footer .desc-box{
    line-height: 1.8em;
	padding:7% 0 15% 0;
}

footer .address-box {
padding-top:15%;
}

footer .address-box address{
    color:#888;
    font-size: 0.7em;
	padding:1% 0;
}

footer .send-box{
    padding-top:7%;
}

footer .contact-box .contact-title {
	padding: 3% 0;
	cursor:pointer;
	position: relative;
	z-index:10;
}

footer .contact-box .contact-close {
	display:none;
}

footer .contact-box .contact-title i {
	margin-left:1%;
}

footer .send-box input,
footer .send-box textarea{
    background:#3e3e3e;
    color:#fff;
    border:none;
    padding:5%;
    display: block;
    width:100%;
    font-size:1.07em;
    font-weight: 100;
	margin-bottom:5%;
}
footer .send-box input::placeholder,
footer .send-box textarea::placeholder{
    color:#b2b2b2
}

footer .button-box a{
    display:inline-block;
    background:#e9e9e9;
    margin-left:5%;
    color:#222;
    font-size:1.07em;
    text-align: center;
	font-weight:400;
	padding: 4%;
	min-width:27%;
}
footer .button-box a:first-child{
    margin-left:0;
}


footer .contact-hidden--box{
    position:absolute;
    top:35px;
    left:0;
    background:#fff;
    padding:15px;
    display:none;
    width:200px;
    font-weight: 400;
    color:#3e3e3e;
}
footer .contact-hidden--box li{
    padding:10px 0;
}
footer .contact-hidden--box li:hover{
    cursor:pointer;
    text-decoration: underline;
}